

html
  head
    
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
    script(src='https://cdn.jsdelivr.net/npm/flatpickr')
  <body>
    <h2>Select date:</h2>
    input#datepicker( type='text',placeholder="Select date")
   
  <div id="rooms", style="display: none;">
    
    
    h1   Rooms
    <form id="roomsForm" action="/rooms", method="POST" >
    
      // TODO hide checkboxes, last todo
      <div>
      <img class="rectangle" id="rectangle1" src="images/green1.jpg" alt="Green Rectangle 1" onclick="changeImage('rectangle1','room1Cb')"> 
      <img class="rectangle" id="rectangle2" src="images/green2.jpg" alt="Green Rectangle 2" onclick="changeImage('rectangle2','room2Cb')"> <br>  
      <img class="rectangle" id="rectangle3" src="images/green3.jpg" alt="Green Rectangle 3" onclick="changeImage('rectangle3','room3Cb')">  
      <img class="rectangle" id="rectangle4" src="images/green4.jpg" alt="Green Rectangle 4" onclick="changeImage('rectangle4','room4Cb')">  
      </div>
      <input type="checkbox" id="room1Cb" name="room1Cb" >
      <label for="room1Cb"> Room 1</label><br>
      <input type="checkbox" id="room2Cb" name="room2Cb" >
      <label for="room2Cb">Room 2</label><br>
      <input type="checkbox" id="room3Cb" name="room3Cb" >
      <label for="room3Cb"> Room 3</label><br>
      <input type="checkbox" id="room4Cb" name="room4Cb" >
      <label for="room4Cb">Room 4</label><br>
      button(type="submit") Save
    </form>
  </div>

   script(src='script.js')
  </body>

