

html
  head
    
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
    script(src='https://cdn.jsdelivr.net/npm/flatpickr')
  body
    <h2>Select date:</h2>
    input#datepicker(type='text',placeholder="Select date")
    script(src='script.js')

  <div id="rooms", style="display: none;">
    
    
    h1   Rooms
    <form id="roomsForm" action="/rooms", method="POST" >
      //- TODO changeimage is not defined error
      <img class="rectangle" id="rectangle1" src="red1.jpg" alt="Red Rectangle 1" onclick="changeImage('rectangle1')">  
      <input type="checkbox" id="room1Cb" name="room1Cb" >
      <label for="roomCb1"> Room 1</label><br>
      <input type="checkbox" id="room2Cb" name="room2Cb" >
      <label for="room2Cb">Room 2</label><br>
      <input type="checkbox" id="room3Cb" name="room3Cb" >
      <label for="room3Cb"> Room 3</label><br>
      <input type="checkbox" id="room4Cb" name="room4Cb" >
      <label for="room4Cb">Room 4</label><br>
      button(type="submit") Save
    </form>
  </div>
  

