

html
  head
    
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
    script(src='https://cdn.jsdelivr.net/npm/flatpickr')
  body
    <h2>Select date:</h2>
    input#datepicker(type='text',placeholder="Select date")
    script(src='script.js')

    //- input#datepicker(type='text',placeholder="Select date")
    //- script.
    //-   const input = document.querySelector('#datepicker');
    //-   const maxDate = new Date();
    //-   maxDate.setDate(maxDate.getDate() + 7);
    //-   flatpickr(input, {
    //-     //defaultDate: 'today',
    //-     minDate: 'today',
    //-     maxDate: maxDate,
    //-     onChange: function(selectedDates, dateStr, instance) {
    //-     console.log("Hello from flat")
    //-     console.log("Selected date:", selectedDates[0]);
    //-     console.log("Formatted date string:", dateStr);
    //-     console.log("Flatpickr instance:", instance);
        
    //-     }
    //-   });

    
  



    h1 Rooms
    <form id="roomsForm" action="/save", method="post" >
      <input type="checkbox" id="room1Cb" name="room1Cb" >
      <label for="roomCb1"> Room 1</label><br>
      <input type="checkbox" id="room2Cb" name="room2Cb" >
      <label for="room2Cb">Room 2</label><br>
      <input type="checkbox" id="room3Cb" name="room3Cb" >
      <label for="room3Cb"> Room 3</label><br>
      <input type="checkbox" id="room4Cb" name="room4Cb" >
      <label for="room4Cb">Room 4</label><br>
      button(type="submit") Save
    </form>

  

    //- table
    //-   thead
    //-     tr
    //-       th Date
    //-       th Room1
    //-       th Room2
    //-       th Room3
    //-       th Room4

    //-   tbody
    //-     each room in rooms
    //-       tr
    //-         td= room.reservation_date
    //-         td= room.room1
    //-         td= room.room2
    //-         td= room.room3
    //-         td= room.room4
